**/*.js
*.css
*.map
*.ngfactory.ts
*.ngstyle.ts
*.ngsummary.json
.idea
.DS_Store
node_modules
jspm_packages
npm-debug.*
debug.log
link-checker-results.txt
_test-output
_temp

!systemjs.config.js
!systemjs-angular-loader.js

/dist
/dist-app
/mobile/platforms
/mobile/plugins
/mobile/www
/mobile/package.json
/mobile/package-lock.json
